
#Ambientes virtuais
.venv/
venv/
__pycache__/
#-----------
_original*
#Dados pessoais
*.h5ad
*.mtx
*.tsv
*.csv
*.fastq
*.gz
*.pdf
*.mtx

#Gráficos gerados
figures/
*.png
*.pdf

#Arquivos do sistema
.vscode/
